*.png filter=lfs diff=lfs merge=lfs -text
*.ai filter=lfs diff=lfs merge=lfs -text
hardware/**/* filter=lfs diff=lfs merge=lfs -text
hardware/electronics/ filter=lfs diff=lfs merge=lfs -text
hardware/enclosure filter=lfs diff=lfs merge=lfs -text
hardware/resin_print/ filter=lfs diff=lfs merge=lfs -text
